# Default ignored files
/../../untitled5/.idea/shelf/
/../../untitled5/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\hellf\CLionProjects\untitled5\.idea/dataSources/
/../../untitled5/.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../untitled5/.idea/httpRequests/
